extends layout

block content
    link(href='/index.css' rel='stylesheet')
    script(src='script.js')
    h2 Music App
    nav
      li
        a(href="http://localhost:3000/register") Register
      li
        a(href="http://localhost:3000/login") Login
      li
        a(href="http://localhost:3000/profile") Profile
    div
        img(class='home-image' src='Welcome.png' width='900')