extends layout

block content
    link(href='/index.css' rel='stylesheet')
    script(src='script.js')
    h2 Music App
    nav
      li
        a(href="http://localhost:3000/register") Register
      li
        a(href="http://localhost:3000/login") Login
      li
        a(href="http://localhost:3000/profile") Profile
    //div(class='slideshow')
    //    img.mySlides(src='spotify.jpg')
    //    img.mySlides(src='pandora.jpg')
    //    img.mySlides(src='soundcloud.jpg')
    //    button.left(onclick="plusDivs(-1)")
    //    button.right(onclick="plusDivs(1)")