extends layout

block content
    link(href='/index.css' rel='stylesheet')
    h2 Music App
    nav
      li
        a(href="http://localhost:3000/register") Register
      li
        a(href="http://localhost:3000/login") Login
      li
        a(href="http://localhost:3000/profile") Profile
