doctype
html
    head
    link(href='/style.css' rel='stylesheet')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet")
    title=title
    body
        block content