extends layout

block content
    h3=title
    p Username:
        input(type='text' name='username')
    p Password:
        input(type='text' name='password')
    p
        input(type='submit' value='Login')
    p
        a(class='links' href='/login') Remembered you're credentials?