extends layout

block content
    link(href='/login.css' rel='stylesheet')
    div(class='logo-pic')
        img(class='logo' src='logo.png' height=102 width=300)
    div(class='login_block')
        h3=title
        form(method='POST' action='/profile')
            div(class='username-error_message')
                p Username:
                    input(type='text' name='username')
            div(class='password-error_message')
                p Password:
                    input(type='text' name='password')
            p
                input(type='submit' value='Login')
