extends layout

block content
    a(href='/') Home
    div(class='profile-pic')
        img(class='profile' src='blank_profile_picture.png')
    //p  #{/*username of user*/}
    br
    p(class='bio') This is where the bio would go

    div(class='favorite-songs')
        h3 Favorite Songs:
        //ul(class='favorite-songs')
        //    each song in favorites
        //        div.song_item
        //            p song.title
        //            p song.artist
