extends layout

block content
    link(href='/register.css' rel='stylesheet')
    body(class='login_background')
        div(class='logo-pic')
            img(class='logo' src='logo.png' height=102 width=300)
        div(class='flex-container')
            div(class='register')
                img(class='login_img' src='music_logo(2).jpg' height=300 width=200)
                h3=title
                form(class='form' method='POST' action='/submitted')
                    div(class='email-error_message')
                    p Email:
                        input(type='text' name='email')
                    div(class='username-error_message')
                    p Username:
                        input(type='text' name='username')
                    div(class='password-error_message')
                    p Password:
                        input(type='text' name='password')
                    p
                        input(type='submit' value='Register')
                        a(class='links' href='/login') Remembered your credentials?
    //footer
    //  p Footer