extends layout

block content
    div(id='logo-pic')
      img(id='logo' src='logo.png' height=102 width=300)
    div(class='flex-container')
      div(id='register')
        img(src='music_logo(2).jpg' height=300 width=200)
        h3=title
        form(id='form' method='POST' action='/submitted')
          p Username:
              input(type='text' name='username')
          p Password:
              input(type='text' name='username')
          p
              input(type='submit' value='Register')
          p
              a(class='links' href='/login') Remembered you're credentials?
    footer
      p Footer